# .dirs
.cache/
.cpan/
.dbus/
.designer/
.dotfiles*/
.gnupg/
.java/
.keychain/
.logs/
.mysql/
.pki/
.pub-cache/
.ssh/
.thumbnails/
.vnc/
.yarn/
.zoom/

# .files
.bash_history
.ICEauthority
.log
.netrc
.pciids-cache
.python_history
.sudo_as_admin_successful
.uuid
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
